.first
{
    /* background-image: linear-gradient(to right, red, green, yellow); */
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 22px;
    display: block;
    height: 40px;
    width: 100%;
    background-image: linear-gradient(45deg,red, yellow);
    text-decoration: black underline solid;

}
.parent
{
    position: relative;
    display: block;
    width: 100%;
    height: 110px;
}

.second
{
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 15px;
    display: block;
    height: 65px;
    width: 400px;
    position: absolute;
    top: 15px;
    left: 450px;
    background: cornflowerblue;
    border: 4px solid red;
    border-radius: 30px;
}
.parent2
{
    display: block;
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 4px solid green;
    background: aqua;
}
.box
{
    display: block;
    height: 80px;
    width: 430px;
    background: cornflowerblue;
    border-radius: 25px;
    border: 4px solid #4B3869;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
}
.box1
{
    display: block;
    position:absolute ;
    top: 5px;
    left: 5px;

}

.box2
{
 
    display: block;
    position:absolute ;
    top: 5px;
    left: 445px;
}

.box3
{
    display: block;
    position:absolute ;
    top: 5px;
    right:10px;
}

.box4
{
    display: block;
    position:absolute ;
    bottom:5px;
    left: 445px;  
}

.section3
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 22px;
    display: block;
    height: 40px;
    width: 100%;
    background-image: linear-gradient(45deg,orange,yellow,red);
    text-decoration: red underline solid;
    margin-top: 10px;
}

.parent3
{
    position: relative;
    display: block;
    width: 100%;
    height: 200px;
    background-image: radial-gradient(#A2CDCD,blue,#3D56B2); 
    margin-top: 10px;
}

.boxx
{
    display: block;
    font-family: 'Times New Roman', Times, serif;
    background: yellow;
    border: 4px solid maroon;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 25px;
    padding-top: 25px;
    box-sizing: border-box;
    border-radius: 30px;
    text-decoration: red underline;
    font-weight: 700;
    color: red;
}
.boxm1
{
    display: block;
    position: absolute;
    top: 25px;
    left: 150px;


}
.boxm2
{
    display: block;
    position: absolute;
    top: 25px;
    left: 450px;
}

.boxm3
{
    display: block;
    position: absolute;
    top: 25px;
    left: 750px;  
}

.boxm4
{
    display: block;
    position: absolute;
    top: 25px;
    left: 1050px;  
}

.child{
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
}
.parent7{
    background: whitesmoke;
    margin: 10px;
    display: grid;
    /* grid-template-columns: 20% 10%; */
    grid-template-columns: 1fr 1fr 1fr 10%;
    grid-template-rows: 15% 1fr 2fr 15%;
    /* grid-template-columns: repeat(3, 1fr 2fr); */
    /* grid-gap: 60px; */
    /* gap: 50px; */
   /* grid-row-gap: 80px; */
   gap: 0px;

text-align: center;
color: white;
border: 2px solid black;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
font-size: 22px;
}
.child1{
    grid-row: 1/1;
    grid-column: 1/5;
    font-size: 22px;
    color: white;
    background: hotpink;
    

}
.child2{
    
    /* grid-row: 2/4; */
    /* grid-column: 1/1; */
background:mediumseagreen;
}
.child3{
    background: cyan;
}
.child4{
    background:blue;
    left: 870px;
    font-size: 19px;
    text-align: left;
    padding-left: 5px;
}
.child5{
    
    grid-row: 3/4;
    grid-column: 4/4;
    
    font-size: 16px;
    font-weight: 600;
    background: black;
    

}
.child7{
    background: green;
grid-row:4/4;
grid-column: 1/5;
font-weight: bold;
    font-size: 22px;
    text-align: center;
    background: cornflowerblue;
}


    .child6{
        background: chocolate;
        grid-row: 3/3;
        grid-column: 1/4;
        text-align: left;
    }
